<div class="well">
  <div class="row">
    <a id="ember1850" href="/p/is-this-giant-chicken-real-to-the-surprise-of-many-this-is-not-a-human-in-a-chicken-costume-45875">
      <div class="col-md-6">
          <img src={{clip.img_link}} alt={{clip.title}}>
        <!-- img -->
      </div>
      <!-- left col -->
      <div class="col-md-6">
        <h3>{{clip.title}}</h3>
        <p>{{clip.body}}</p>
          <div class="clip-footer">
            <div class="row">
              <div class="col-md-6">
                <p class="clip-author"><span>By</span>{{clip.author}}</p>
              </div>
              <div class="col-md-6">
                <time id="ember1852" title="March 21, 2017" class="clip-default__published ember-view friendly-date">{{clip.publish_date}}
                </time>
              </div>
            </div>
          </div>
          <!-- clip footer -->
        </div>
        <!-- right col -->
      </a>
    </div>
    <!-- row -->
  </div>
<!-- well -->
